.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.app {
background-color: white;
width: 1100px;
min-height: 520px;
height: min-content;
border-radius: 7px;
padding: 90px;
box-shadow: 3px 3px 12px 0px rgba(51, 50, 50, 0.603);
justify-content: space-evenly;
}

.text{
  width: 75%;
  font-size: 23px;
  font-weight: 400;
  color: black;
}

.quiz {
  color:rgb(89, 221, 89);
  font-size: 52px;
  font-weight: 700;
}

.next-question{
  margin-top: 60px;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
}

.botao-start > p {
  font-weight: 600;
  font-style: bold;
  color:  white;
  font-size: 23px;
  padding-top: 8px;
  margin-left: 30px;
}

.botao-start{
  width: 160px;
  height:45px;
  background-color: rgba(89, 221, 89, 0.959);
  border-radius: 20px;
  margin-left: 13px;
  box-shadow: 1px 1px 2px 0.5px rgba(51, 50, 50, 0.507);
  cursor: pointer;
}

.botao-start:hover{
  transition: 400ms linear;
  background-color: rgba(44, 190, 44, 0.959);
  }

.link {
  text-decoration: none;
  color: black;
}