.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;  
}

.app {
background-color: white;
width: 1100px;
min-height: 520px;
height: min-content;
border-radius: 7px;
padding: 90px;
box-shadow: 3px 3px 12px 0px rgba(51, 50, 50, 0.603);
justify-content: space-evenly;
}

.texto-input{
  display:flex;
  flex-direction: row;
}


.text{
  width: 55%;
  font-size: 23px;
  font-weight: 400;
  color: black;
}


.label-float{
  position: relative;
  padding-top: 18px;
  font-size: 28px;
  margin-top: 10%;
  margin-left: 4%;
}

.label-float input{
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;
  min-width: 360px;
  font-size: 18px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
  border-radius:0;
}

.label-float input:focus{
  border-bottom: 3px solid rgb(89, 221, 89);
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

.label-float input:required:invalid + label{
  color: red;
}
.label-float input:focus:required:invalid{
  border-bottom: 2px solid red;
}
.label-float input:required:invalid + label:before{
  content: '*';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  color: rgb(89, 221, 89);
}


.quiz {
  color:rgb(89, 221, 89);
  font-size: 52px;
  font-weight: 700;
}

.next-question{
  margin-top: 60px;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
}

.botao-start{
  width: 160px;
  height:45px;
  background-color: rgba(89, 221, 89, 0.959);
  border-radius: 20px;
  margin-left: 13px;
  box-shadow: 1px 1px 2px 0.5px rgba(51, 50, 50, 0.507);
  cursor: pointer;
  border:none;
  font-weight: 600;
  font-style: bold;
  color:  white;
  font-size: 23px;
  margin-left: 30px;
}

.botao-start:hover{
  transition: 400ms linear;
  background-color: rgba(44, 190, 44, 0.959);
  }

.link {
  text-decoration: none;
  color: black;
}