@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600;700&display=swap');

:root { 
    --color-background: white; 
    --color-text-base: #32264D;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
  }
  
  html, body{
    height: 100vh; 
    width: 100vw;
  }
  body, input, button, select, textarea{
    font-family: 'Raleway', sans-serif;
    color: var(--color-text-base);
  }
  
  body{
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  