.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
  }

.app-home{
  background-color: white;
  width: 1100px;
  min-height: 520px;
  height: min-content;
  border-radius: 7px;
  box-shadow: 3px 3px 12px 0px rgba(51, 50, 50, 0.603);
  justify-content: space-evenly;
  display:block;
  padding:65px;
  }

  .title-img{
    display:flex;
    flex-direction:row;
  }

  .title{
    font-size: 50px;
    font-weight: 700;
    color: black;
    padding-right: 90px;
    
  }

  .quiz {
    color:rgb(89, 221, 89);
    font-size: 52px;
    font-weight: 700;
  }
  .menu{
    display:flex;
    flex-direction:row;
  }

  .img{
   
  }
  .next {
    display: flex;
    flex-direction: row;
  }

  .next > p {
    font-weight: 600;
    color: black;
    font-size: 33px;
    margin-left: 160px;
  }

  .botao{
    width: 45px;
    height:45px;
    background-color: rgba(89, 221, 89, 0.959);
    border-radius: 50px;
    margin-left: 15px;
    box-shadow: 1px 1px 2px 0.5px rgba(43, 35, 35, 0.507);
    cursor: pointer;
  }

  .botao:hover{
  transform: scale(1.1);
  transition: 300ms linear;
  background-color: rgba(44, 190, 44, 0.959);
  }

  .link {
    text-decoration: none;
    color: black;
  }